### Feature Engineering

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [28]:
train_set = pd.read_csv(r'C:\Users\hp\Documents\excel\house-prices-advanced-regression-techniques\train.csv')
test_set = pd.read_csv(r'C:\Users\hp\Documents\excel\house-prices-advanced-regression-techniques\test.csv')

In [29]:
train_set.head(4)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000

In [30]:
combine = [train_set, test_set]

In [31]:
train_nan = [feature for feature in train_set.columns if train_set[feature].isnull().sum()>1 and train_set[feature].dtypes=='O']
test_nan = [feature for feature in test_set.columns if test_set[feature].isnull().sum()>1 and test_set[feature].dtypes=='O']

In [32]:
for feature in train_nan:
    print("{}: {}% missing values".format(feature, np.round(train_set[feature].isnull().mean(), 4)))

Alley: 0.9377% missing values
MasVnrType: 0.0055% missing values
BsmtQual: 0.0253% missing values
BsmtCond: 0.0253% missing values
BsmtExposure: 0.026% missing values
BsmtFinType1: 0.0253% missing values
BsmtFinType2: 0.026% missing values
FireplaceQu: 0.4726% missing values
GarageType: 0.0555% missing values
GarageFinish: 0.0555% missing values
GarageQual: 0.0555% missing values
GarageCond: 0.0555% missing values
PoolQC: 0.9952% missing values
Fence: 0.8075% missing values
MiscFeature: 0.963% missing values

In [33]:
for feature in test_nan:
    print("{}: {}% missing values".format(feature, np.round(test_set[feature].isnull().mean(), 4)))

MSZoning: 0.0027% missing values
Alley: 0.9267% missing values
Utilities: 0.0014% missing values
MasVnrType: 0.011% missing values
BsmtQual: 0.0302% missing values
BsmtCond: 0.0308% missing values
BsmtExposure: 0.0302% missing values
BsmtFinType1: 0.0288% missing values
BsmtFinType2: 0.0288% missing values
Functional: 0.0014% missing values
FireplaceQu: 0.5003% missing values
GarageType: 0.0521% missing values
GarageFinish: 0.0535% missing values
GarageQual: 0.0535% missing values
GarageCond: 0.0535% missing values
PoolQC: 0.9979% missing values
Fence: 0.8012% missing values
MiscFeature: 0.965% missing values

In [34]:
def replace_cat_feature(dataset, train_nan):
    data=train_set.copy()
    data[train_nan]=data[train_nan].fillna('Missing')
    return data
train_set=replace_cat_feature(train_set, train_nan)
# train_set[train_nan].isnull().sum()

In [35]:
def replace_cat_feature(dataset, test_nan):
    data=test_set.copy()
    data[test_nan]=data[test_nan].fillna('Missing')
    return data
test_set=replace_cat_feature(test_set, test_nan)
# test_set[test_nan].isnull().sum()

In [36]:
train_set.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,181500

In [37]:
test_set.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Missing,Reg,Lvl,AllPub,...,120,0,Missing,MnPrv,Missing,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,Missing,IR1,Lvl,AllPub,...,0,0,Missing,Missing,Gar2,12500,6,2010,WD,Normal

### numerical value with missing value

In [38]:
train_num_null= [feature for feature in train_set.columns if train_set[feature].isnull().sum()>1 and train_set[feature].dtypes!='O']

for feature in train_num_null:
    print('{}: {}% missing value'.format(feature, np.round(train_set[feature].isnull().mean(), 4)))

LotFrontage: 0.1774% missing value
MasVnrArea: 0.0055% missing value
GarageYrBlt: 0.0555% missing value

In [39]:
test_num_null= [feature for feature in test_set.columns if test_set[feature].isnull().sum()>1 and test_set[feature].dtypes!='O']

for feature in test_num_null:
    print('{}: {}% missing value'.format(feature, np.round(test_set[feature].isnull().mean(), 4)))

LotFrontage: 0.1556% missing value
MasVnrArea: 0.0103% missing value
BsmtFullBath: 0.0014% missing value
BsmtHalfBath: 0.0014% missing value
GarageYrBlt: 0.0535% missing value

In [40]:
for feature in train_num_null:
    median_value=train_set[feature].median()
    
    # create a new feature to capture nan values
    train_set[feature +' nan']=np.where(train_set[feature].isnull(),1,0)
    train_set[feature].fillna(median_value, inplace=True)

train_set[train_num_null].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [41]:
for feature in test_num_null:
    median_value=test_set[feature].median()
    
    # create a new feature to capture nan values
    test_set[feature+ ' nan']=np.where(test_set[feature].isnull(),1,0)
    test_set[feature].fillna(median_value, inplace=True)

test_set[test_num_null].isnull().sum()

LotFrontage     0
MasVnrArea      0
BsmtFullBath    0
BsmtHalfBath    0
GarageYrBlt     0
dtype: int64

In [42]:
test_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontage nan,MasVnrArea nan,BsmtFullBath nan,BsmtHalfBath nan,GarageYrBlt nan
0,1461,20,RH,80.0,11622,Pave,Missing,Reg,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
1,1462,20,RL,81.0,14267,Pave,Missing,IR1,Lvl,AllPub,...,12500,6,2010,WD,Normal,0,0,0,0,0
2,1463,60,RL,74.0,13830,Pave,Missing,IR1,Lvl,AllPub,...,0,3,2010,WD,Normal,0,0,0,0,0
3,1464,60,RL,78.0,9978,Pave,Missing,IR1,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
4,1465,120,RL,43.0,5005,Pave,Missing,IR1,HLS,AllPub,...,0,1,2010,WD,Normal,0,0,0,0,0

In [43]:
for feature in ['YearBuilt', 'YearRemodAdd','GarageYrBlt']:
    train_set[feature]=train_set['YrSold']-train_set[feature]
    test_set[feature]=test_set['YrSold']-test_set[feature]

In [44]:
test_set[['YearBuilt', 'YearRemodAdd','GarageYrBlt']]

      YearBuilt  YearRemodAdd  GarageYrBlt
0            49            49         49.0
1            52            52         52.0
2            13            12         13.0
3            12            12         12.0
4            18            18         18.0
...         ...           ...          ...
1454         36            36         27.0
1455         36            36         36.0
1456         46            10         46.0
1457         14            14         27.0
1458         13            12         13.0

[1459 rows x 3 columns]

In [45]:
# TRANSFORMATION OF TRAI SET
train_num_features=['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea', 'SalePrice']
for feature in num_features:
    train_set[feature]=np.log(train_set[feature])

In [46]:
# TRANSFORMATION OF TEST SET
test_num_features=['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea']
for feature in num_features: 
    test_set[feature]=np.log(test_set[feature])

In [47]:
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,60,RL,4.174387,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,4.382027,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,5,2007,WD,Normal,181500,0,0,0
2,3,60,RL,4.219508,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,9,2008,WD,Normal,223500,0,0,0
3,4,70,RL,4.094345,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,2,2006,WD,Abnorml,140000,0,0,0
4,5,60,RL,4.430817,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,12,2008,WD,Normal,250000,0,0,0

### Rare categorical feature

In [48]:
categorical_features=[feature for feature in train_set.columns if train_set[feature].dtype=='O']
categorical_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [49]:
categoric_features=[feature for feature in test_set.columns if test_set[feature].dtype=='O']
categoric_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [50]:
for feature in categorical_features:
    temp=train_set.groupby(feature)['SalePrice'].count()/len(train_set)
    temp_df=temp[temp>0.01].index